@charset "utf-8";

@media screen and (max-width : 1140px) {

    .section:nth-of-type(2),
    .section:nth-of-type(3),
    .section:nth-of-type(4) {
        flex-direction: column;
        padding: 40px 20px 100px;
        /* 상단 padding을 100px → 60px로 줄임 */
        gap: 50px;
    }

    .video-box1,
    .video-box2,
    .video-box3,
    .video-box4 {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 600px;
        margin: -30px auto 0;
        /* 살짝 위로 올림 */
        margin-bottom: 40px;
    }

    .text-box1,
    .text-box2 {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 600px;
        margin: 30px auto 0;
    }

    /* .video-box1 iframe,
    .video-box2 iframe,
    .video-box3 iframe,
    .video-box4 iframe {
        width: 100%;
        height: auto;
    } */
    .video-box3,
    .video-box4 {
        width: 600px;
        height: 337.5px;
    }

    .intro-wrap {
        flex-direction: column;
        gap: 30px;
        transform: scale(0.9);
    }

    .icons {
        bottom: 40px;
        left: 20%;
        transform: translateX(-50%);
    }

    .info-text {
        font-size: 19px;
        /* 화면 크기가 1140px 이하일 때 텍스트 크기 줄이기 */
        gap: 10px;
        /* 텍스트 간격도 좁히기 */
    }

    .photo-box img {
        width: 90%;
        /* 이미지가 박스에 맞게 크기 조정 */
        height: 90%;
        /* 이미지 비율 유지 */
        object-fit: cover;
        /* 이미지를 비율에 맞춰 잘라내지 않고 박스를 채움 */
    }

    .icons img {
        width: 30px;
        /* 아이콘 크기도 조금 더 작게 */
        height: 30px;
    }
}

@media screen and (max-width : 992px) {
    .videowrap {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding: 0 20px;
    }

    .video-box5,
    .video-box6,
    .video-box7 {
        width: 100%;
        height: auto;
        max-width: 600px;
    }

    .video-box5 iframe,
    .video-box6 iframe,
    .video-box7 iframe {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

@media screen and (max-width : 768px) {

    .timeline-left,
    .timeline-right {
        font-size: 14px;
    }

    .line {
        width: 100px;
    }

    .info-text {
        font-size: 14px;
        gap: 10px;
    }

    .intro-wrap {
        gap: 30px;
        transform: scale(0.85);
        flex-direction: column;
    }

    .photo-box {
        width: 250px;
        height: 330px;
        font-size: 16px;
    }

    .icons {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .icons img {
        width: 24px;
        height: 24px;
    }

    .timeline-center {
        margin-top: 10px;
        height: 515px;
    }

    .video-box3,
    .video-box4 {
        width: 600px;
        height: 337.5px;
    }

    .video-box3 iframe,
    .video-box4 iframe {
        width: 100%;
    }
}

@media screen and (max-width : 576px) {

    .timeline-left,
    .timeline-right {
        font-size: 13px;
    }

    .line {
        display: none;
    }

    .timeline-center {
        display: none;
    }

    .video-box3,
    .video-box4 {
        width: 100%;
        height: 301.5px;
    }

}

@media screen and (max-width : 425px) {
    .video-box1 iframe {
        width: 385px;
        height: 216.56px;
    }

    .video-box2 iframe {
        width: 385px;
        height: 216.56px;
    }

}

@media screen and (max-width : 375px) {
    .video-box1 iframe {
        width: 335px;
        height: 188.44px;
    }

    .video-box2 iframe {
        width: 335px;
        height: 188.44px;
    }

    .video-box3,
    .video-box4 {
        width: 600px;
        height: 337.5px;
    }

    .video-box3,
    .video-box4 {
        width: 335px;
        height: 188.44px;
    }
}